# Ignora node_modules (instala no container via npm install)
node_modules
**/node_modules
npm-debug.log
# Ignora build do front (vai ser gerado dentro do container)
dist
build

# Ignora arquivos desnecessários
*.log
.env
.git
.gitignore
Dockerfile
docker-compose.yml
.vscode
*.md
*.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
